FLASK_ENV=local
SECRET_KEY=replace-with-a-random-string
GOOGLE_CLIENT_ID=311367608233-1ejtk8404eladtmir1278ostji0bipq4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret-here
APPROVED_EMAILS=youremail@gmail.com,another@gmail.com
APP_NAME=The Achtyes-Hopper Family
